.aboutProduct {
  @apply w-[375px] m-auto mt-[120px] ;
  @apply sm:w-[600px] sm:m-auto sm:mt-[120px] ;
  @apply lg:w-[930px] lg:m-auto lg:mt-[120px] ;
  @apply xl:w-[1200px];
  h2 {
    @apply text-[34px] font-[500] mb-[30px];
    @apply sm:text-[34px] sm:mb-[30px];
    @apply lg:text-[34px] lg:mb-[30px];
    @apply xl:text-[42px];
  }
  &_wrapper {
    @apply lg:flex lg:gap-[16px];
    .left_block {
      background-image: url(../public/images/about-com.png);
      background-size: cover;
      background-repeat: no-repeat;
      @apply lg:w-[200px] lg:rounded-[15px];
      @apply xl:w-[284px];
    }
    .right_block {
      @apply flex flex-col justify-between gap-[60px];
      @apply sm:gap-[20px];
      img {
        @apply sm:w-[490px] sm:h-[80%] sm:m-auto;
        @apply lg:w-[490px] lg:h-[80%];
        @apply xl:w-[590px] lg:h-[100%];
      }
      &_item {
        @apply mt-[40px] flex flex-col gap-[20px];
        @apply lg:flex lg:flex-row lg:gap-[20px] mt-0;
        &_info {
          @apply flex flex-col gap-[20px];
          @apply sm:flex sm:flex-col;
          @apply lg:w-[200px] lg:h-[170px] lg:flex lg:flex-col lg:gap-[0px];
          @apply xl:w-[290px] xl:h-[260px] xl:gap-[20px];
          h3 {
            @apply text-[28px] font-[700];
            @apply sm:text-[20px] sm:font-[700];
            @apply lg:text-[20px] lg:font-[700];
            @apply xl:text-[26px];
          }
          p {
            @apply sm:text-[15px] sm:font-[400] mb-[20px];
            @apply lg:text-[11px] lg:line-clamp-6 lg:font-[400];
            @apply xl:text-[15px] xl:line-clamp-none xl:block xl:mb-0;
          }
          button {
            @apply bg-[#3A5FE1] text-[#fff] py-[10px] rounded-[10px] text-[15px] font-[700];
            @apply sm:bg-[#3A5FE1] sm:text-[#fff] sm:py-[10px] sm:rounded-[10px] sm:text-[15px] sm:font-[700];
            @apply lg:bg-[#3A5FE1] lg:text-[#fff] lg:py-[10px] lg:rounded-[10px] lg:text-[15px] lg:font-[700];
          }
        }
      }
    }
  }
}